.navbar {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    color: white;
    padding-left: 100px;
    gap: 200px;
    background-color: #4dda54;


}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Link {
    text-decoration: none;
    ;
    color: white;
}